.elementor-14 .elementor-element.elementor-element-a2ae6ab > .elementor-container {min-height: 133px;}
.elementor-14 .elementor-element.elementor-element-a2ae6ab > .elementor-container:after {content: "";min-height: inherit;}
.elementor-14 .elementor-element.elementor-element-4c2262b {text-align: left;}
.elementor-14 .elementor-element.elementor-element-4c2262b .elementor-image img {max-width: 25%;}
.elementor-14 .elementor-element.elementor-element-842a0a5 .elementor-menu-toggle {margin: 0 auto;}